# SQL modification statements (exercises)

## Preparation

For this section you need `chinook.db` database file and working `%sql` magic.  
If you don't have it, please go back to the [previous section](../09_sql/connect_to_database.ipynb) and follow the instructions.  
The following code should not produce any errors:

In [7]:
%load_ext sql
%sql sqlite:///chinook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Exercise: updating rows

An employee `Park Margaret` has moved to a new address: 
- `City`: `Toronto`,
- `State`: `NO`,
- `Postcode`: `M5P 2N7`. 

Update the `employee` table accordingly.  
To verify that the change indeed is made, show the content before and after the change.

In [10]:
%%sql
SELECT *
  FROM employees
  ORDER BY EmployeeId LIMIT 5

Running query in 'sqlite:///chinook.db'

+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+---------------------+----------+-------+---------+------------+-------------------+-------------------+--------------------------+
| EmployeeId | LastName | FirstName |        Title        | ReportsTo |      BirthDate      |       HireDate      |       Address       |   City   | State | Country | PostalCode |       Phone       |        Fax        |          Email           |
+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+---------------------+----------+-------+---------+------------+-------------------+-------------------+--------------------------+
|     1      |  Adams   |   Andrew  |   General Manager   |    None   | 1962-02-18 00:00:00 | 2002-08-14 00:00:00 | 11120 Jasper Ave NW | Edmonton |   AB  |  Canada |  T5K 2N1   | +1 (780) 428-9482 | +1 (780) 428-3457 |  andrew@chinookcorp.com  |
|     2      | Edwards  |   Nancy   |    Sales Manager    |     1     | 1958-12-08 00:00:00 | 2002-05-01 00:00:00 |     825 8 Ave SW    | Calgary  |   AB  |  Canada |  T2P 2T3   | +1 (403) 262-3443 | +1 (403) 262-3322 |  nancy@chinookcorp.com   |
|     3      |  Smith   |    Jane   | Sales Support Agent |     2     | 1973-08-29 00:00:00 | 2002-04-01 00:00:00 |    1111 6 Ave SW    | Calgary  |   AB  |  Canada |  T2P 5M5   | +1 (403) 262-3443 | +1 (403) 262-6712 |   jane@chinookcorp.com   |
|     4      |   Park   |  Margaret | Sales Support Agent |     2     | 1947-09-19 00:00:00 | 2003-05-03 00:00:00 |   683 10 Street SW  | Calgary  |   AB  |  Canada |  T2P 5G3   | +1 (403) 263-4423 | +1 (403) 263-4289 | margaret@chinookcorp.com |
|     5      | Johnson  |   Steve   | Sales Support Agent |     2     | 1965-03-03 00:00:00 | 2003-10-17 00:00:00 |     7727B 41 Ave    | Calgary  |   AB  |  Canada |  T3B 1Y7   |  1 (780) 836-9987 |  1 (780) 836-9543 |  steve@chinookcorp.com   |
+------------+----------+-----------+---------------------+-----------+---------------------+---------------------+---------------------+----------+-------+---------+------------+-------------------+-------------------+--------------------------+

In [30]:
%%sql
SELECT LastName,FirstName,City, State, Postalcode
  FROM employees
  WHERE LastName = 'Park' AND FirstName = 'Margaret'

Running query in 'sqlite:///chinook.db'

+----------+-----------+---------+-------+------------+
| LastName | FirstName |   City  | State | PostalCode |
+----------+-----------+---------+-------+------------+
|   Park   |  Margaret | Calgary |   AB  |  T2P 5G3   |
+----------+-----------+---------+-------+------------+

In [29]:
%%sql
UPDATE employees 
SET City = 'Toronto', State = 'NO', PostalCode = 'M5P 2N7' 
WHERE LastName = 'Park' AND FirstName = 'Margaret'

Running query in 'sqlite:///chinook.db'

RuntimeError: (sqlite3.OperationalError) database is locked
[SQL: UPDATE employees
SET City = 'Toronto', State = 'NO', PostalCode = 'M5P 2N7'
WHERE LastName = 'Park' AND FirstName = 'Margaret']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:

%%sql
SELECT * FROM employee WHERE first_name = 'Park' AND last_name = 'Margaret';

## Exercise: adding rows

In a single SQL command insert three new random persons into the `artists` table.  
To verify that the change indeed is made, show the content before and after the change.

## Exercise: removing rows

Let's delete `artists` whose names contain the word `Santana`.  
To verify that the change indeed is made, show the content before and after the change.